* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#3b1566, #5f4da8);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #d6d6ea;
}

.container-aplicativo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  border: 5px solid white;
  padding-bottom: 10px;
  border-radius: 20px;
}

img {
  border-radius: 20px;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  color: #7c8b97;
  transition: .3s;
}

button:hover {
  color: #525b63;
}

.info-faixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0 1em 0;
  gap: 0.5em;
  font-size: 1.5em;
}

.botoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#btVoltar, #btAvancar {
  font-size: 3em;
}

#btPlayPause {
  font-size: 4em;
}